<!DOCTYPE html>
<html>
  <head>
        {% block head %}
         <title>    {% block title %} {% endblock %}</title>
        {% endblock %}
  </head>

  <body>
       <a href = "/"> <button type="button" name ="LI"> Homepage </button>  </a>
       <a href = "/logout"> <button type="button" name ="LI"> Logout </button>  </a>
       <font color = 'red'>
	 {% set msgs = get_flashed_messages() %}{# program is now  aware there are flash messages #}
            {% for each in msgs %}{# Loops through messages #}
                <br>{{each}}
                <br>
            {% endfor %}
       </font>
        {% block content %}

        {% endblock %}

     {% block footer %}
     &copy; Copyright -- pseudowoodo 2018
     {% endblock %}
</body>

</html>
