{% extends "base.html" %}
{% block title %} Code Scramble {% endblock %}
{% block content %}

<h1>Code Scramble</h1>

<form action="/genre", method="POST">
  <input type="hidden" name="media" value="Books">
  <button type="submit">Books</button>
</form>
<br>
<form action="/genre", method="POST">
  <input type="hidden" name="media" value="Movies">
  <button type="submit">Movies</button>
</form>
<br>
<form action="/genre", method="POST">
  <input type="hidden" name="media" value="Video Games">
  <button type="submit">Video Games</button>
</form>
<br>
<form action="/genre", method="POST">
  <input type="hidden" name="media" value="Music">
  <button type="submit">Music</button>
</form>
<br>
{% endblock %}
