{% extends "base.html" %}
{% block title %} Code Scramble {% endblock %}
{% block content %}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
  .button{
  background-color: #F4F4F4;
  border:none;
  color:black;
  padding: 15px 32px;
  text-align:center;
  text-decoration:none;
  diplay:inline-block;
  font-size:16px;
  margin:0px 0px;
  curspor:pointer;
  }
  </style>
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="background-color:#F4F4F4;">
      <h2>Topics </h2>
    </div>
  </div>
</div>
</br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3" style="background-color:#F4F4F4;">
      <form action="/genre", method="POST">
	<input type="hidden" name="media" value="Books">
	<button type="submit" class="button">Books</button>
      </form>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-3" style="background-color:#F4F4F4;">
      <form action="/genre", method="POST">
	<input type="hidden" name="media" value="Movies">
	<button type="submit" class="button">Movies</button>
      </form>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-3" style="background-color:#F4F4F4;">
      <form action="/genre", method="POST">
	<input type="hidden" name="media" value="Video Games">
	<button type="submit" class="button">Video Games</button>
      </form>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-3" style="background-color:#F4F4F4;">
      <form action="/genre", method="POST">
	<input type="hidden" name="media" value="Music">
	<button type="submit" class="button">Music</button>
      </form>
    </div>
  </div>
</div>



<h1>Code Scramble</h1>

<br>
{% endblock %}
