{% extends "base.html" %}
{% block title %} {{scramble}} {% endblock %}
{% block content %}
<h2> {{ genre_type }} </h2>

<p> 
  Scrambled Title: 
  {% for word in scrambled_title_words %}
  <b> {{ word }} </b>
  {% endfor %}


  <form action="/check", method="POST">
    
  {% for word in title_words %}
  <input type="text" name="guess_for_{{word}}" placeholder={{word}}>
  <input type="hidden" name="unscrambled" value="word">
  {% endfor %}

  <button type="submit">Check your guess!</button>
  </form>

</p>

{% endblock %}
