{% extends "base.html" %}
{% block title %} Code Scramble - {{ user_name }} {% endblock %}
{% block content %}
<br><br>
<head>
  <style>
    .line{
    line-height:2.9;
    }
    .align{
    text-align:center;
    position:static;
    }
  .button{
  background-color: #F4F4F4;
  border:none;
  color:black;
  position: absolute;
  line-height:0px;
  right: 10%;
  padding: 15px 32px;
  text-align:center;
  text-decoration:none;
  diplay:inline-block;
  margin:0px 0px;
  curspor:pointer;
  }
  .no-margin{
  margin:0px !important;
  }
  </style>
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="background-color:#F4F4F4;">
      <h2>Favorites </h2>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:#F4F4F4;">
    </div>
    <div class="col-sm-4" style="background-color:#F4F4F4;">
    </div>
    <div class="col-sm-4" style="background-color:#F4F4F4;">
    </div>
  </div>
</div>
  
  {% for info in favorites %}
  <div class="row">
    <div class="col-sm-4" style="background-color:#F4F4F4;">
      <div class="line"><center>{{info[2]}}</center></div>
    </div>
  
    <div class="col-sm-4" style="background-color:#F4F4F4;">
      <div class="line"> <center>{{info[1]}}</center></div>
    </div>
       <form action = "/result">
	 <input type="hidden" name="Title" value="{{info[2]}}">
	 <input type="hidden" name="Type" value="{{info[1]}}">
	 {% if info[1] == "Books" %}
	 <input type="hidden" name="Author" value="{{info[3]}}">
	 <input type="hidden" name="Description" value="{{info[4]}}">
	 <input type="hidden" name="Date" value="{{info[5]}}">
	 <input type="hidden" name="Amazon" value="{{info[6]}}">
	 {% else %}
	 {% if info[1] == "Movies" %}
	 <input type="hidden" name="Poster" value="{{info[3]}}">
	 <input type="hidden" name="Description" value="{{info[4]}}">
	 <input type="hidden" name="Date" value="{{info[5]}}">
	 {% else %}
	 {% if info[1] == "Music" %}
	 <input type="hidden" name="Artist" value="{{info[3]}}">
	 <input type="hidden" name="Album" value="{{info[4]}}">
	 <input type="hidden" name="Date" value="{{info[5]}}">
	 <input type="hidden" name="Lyrics" value="{{info[6]}}">
	 {% else %}
	 <input type="hidden" name="Cover" value="{{info[3]}}">
	 <input type="hidden" name="Description" value="{{info[4]}}">
	 <input type="hidden" name="Date" value="{{info[5]}}">
	 <input type="hidden" name="Link" value="{{info[6]}}">
	 {% endif %}
	 {% endif %}
	 {% endif %}
     <div class="col-sm-4" style="background-color:#F4F4F4;">
       <center> 
	 <button type="submit" class="button" name="submit" value="More Information" > <center>More Information</center></button>
       </center>
       </br>
       </br>
     </div>
       </form>
  </div>
</div>
   {% endfor %}
   
</div>

<br>

<br><br>
<br>
{% endblock %}
