{% extends "base.html" %}
{% block title %} Code Scramble - {{ user_name }} {% endblock %}
{% block content %}
<br><br>
<form action = '/logout'>
     <input type="submit" name="submit" value = "Logout">
</form>
<h3> {{user_name}}'s Page </h3>

<h4> Favorites </h4>
<table>
     <thead>
          <tr>
               <td> <b> Title &emsp;</b> </td>
               <td> <b> Info </b> </td>
          </tr>
     </thead>
     <tbody>
          {% for info in favorites %}
          <tr>
               <td>
                    {{info}}
               </td>
               <td>
                    <form action = '/favorites'>
                         <input type="submit" name="submit" value = "{{info}}">
                    </form>
               </td>
          </tr>
          {% endfor %}

</table>
<br>

<br><br>
<br>
{% endblock %}
