{% extends "base.html" %}
{% block title %} Code Scramble - {{ user_name }} {% endblock %}
{% block content %}
<br><br>
<head>
  <style>
  .button{
  background-color: #F4F4F4;
  border:none;
  color:black;
  padding: 15px 32px;
  text-align:center;
  text-decoration:none;
  diplay:inline-block;
  font-size:16px;
  margin:0px 0px;
  curspor:pointer;
  }
  </style>
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="background-color:#F4F4F4;">
      <h2>Favorites </h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:#F4F4F4;">
      Title (Type)
    </div>
  </div>
  
  {% for info in favorites %}
  <div class="row">
    <div class="col-sm-4" style="background-color:#F4F4F4;">
      {{info[2]}}, ({{info[1]}}) {{info}}
    </div>
  </div>

  <!--
      For reference
      c.execute("CREATE TABLE IF NOT EXISTS book_faves (user TEXT, type TEXT, title TEXT, author TEXT, description TEXT, date TEXT, amazon TEXT);")
      c.execute("CREATE TABLE IF NOT EXISTS movie_faves (user TEXT, type TEXT, title TEXT, poster TEXT, description TEXT, date TEXT);")
      c.execute("CREATE TABLE IF NOT EXISTS game_faves (user TEXT, type TEXT, title TEXT);")
      c.execute("CREATE TABLE IF NOT EXISTS music_faves (user TEXT, type TEXT, title TEXT, artist TEXT, album TEXT, date TEXT, lyrics TEXT);")

    -->
  
   <div class="row">
     <div class="col-sm-4" style="background-color:#F4F4F4;">
       <form action = "/result">
	 <input type="hidden" name="Title" value="{{info[2]}}">
	 <input type="hidden" name="Type" value="{{info[1]}}">
	 {% if info[1] == "Books" %}
	 <input type="hidden" name="Author" value="{{info[3]}}">
	 <input type="hidden" name="Description" value="{{info[4]}}">
	 <input type="hidden" name="Date" value="{{info[5]}}">
	 <input type="hidden" name="Amazon" value="{{info[6]}}">
	 {% else %}
	 {% if info[1] == "Movies" %}
	 <input type="hidden" name="Poster" value="{{info[3]}}">
	 <input type="hidden" name="Description" value="{{info[4]}}">
	 <input type="hidden" name="Date" value="{{info[5]}}">
	 {% else %}
	 {% if info[1] == "Music" %}
	 <input type="hidden" name="Artist" value="{{info[3]}}">
	 <input type="hidden" name="Album" value="{{info[4]}}">
	 <input type="hidden" name="Date" value="{{info[5]}}">
	 <input type="hidden" name="Lyrics" value="{{info[6]}}">
	 {% else %}
	 <!-- VIDEO GAME STUFF HERE -->
	 {% endif %}
	 {% endif %}
	 {% endif %}
	 <input type="submit" name="submit" value = "More Information">
       </form>
     </div>
   </div>
   {% endfor %}
   
</div>

<br>

<br><br>
<br>
{% endblock %}
